<!DOCTYPE html>
<html>
<head>
  <title>Strails - Backend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "strails/backend", media: "all" %>
  <%= javascript_include_tag "strails/backend" %>
</head>
<body>

<%= yield %>

</body>
</html>
