<div class="product-navigation">
  <div class="list-group">
    <%= active_link_to(edit_backend_product_path(product), active: :exact, class: "list-group-item list-group-item-action") do %>
      <i class="material-icons">edit</i> Details
    <% end %>
  </div>
</div>
