<div class="nested-fields">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <%= f.text_field :name, class: "form-control", autocomplete: "off", placeholder: translated_model_attribute("option_value", "name") %>
      </div>
      <div class="col">
        <%= f.text_field :presentation, class: "form-control", autocomplete: "off", placeholder: translated_model_attribute("option_value", "presentation") %>
      </div>
      <%= content_tag(:div, class: "remove-option-value") do %>
        <%= link_to_remove_association material_icon("delete"), f, class: "btn-destroy" %>
      <% end %>
    </div>
  </div>
</div>
